<%= render :partial => 'dashboard/navigation' %>
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <div class="container">
      <h1>Datos de Usuario</h1>
      <p>En esta seccion de la aplicacion se le permitira a usted ver los datos personales asociados a su cuenta, asi como modificar alguno de estos y/o dar de baja su cuenta.</p>
      <p><a class="btn btn-lg btn-primary" href="/static_pages/help" role="button">Conocer mas &raquo;</a></p>
    </div>
  </div>
</div>
<div class="container theme-showcase" role="main">
  <div class="page-header">
        <h2>Datos de <%=current_user.name %></h2>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class = "row">
    <div class="col-md-3">
        <div class="form-group">
          <%= f.label :name%>
            <div class="input-group">
            <%= f.text_field :name, :readonly => true , class: "form-control" %>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
          <%= f.label :last_name%>
            <div class="input-group">
            <%= f.text_field :last_name, :readonly => true , class: "form-control" %>
            </div>
        </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-3">
        <div class="form-group">
          <%= f.label :address%>
            <div class="input-group">
            <%= f.text_field :address, class: "form-control" %>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
          <%= f.label :city%>
            <div class="input-group">
            <%= f.text_field :city, class: "form-control" %>
            </div>
        </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-3">
        <div class="form-group">
          <%= f.label :country%>
            <div class="input-group">
            <%= f.text_field :country, class: "form-control" %>
            </div>
        </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-3">
        <div class="form-group">
          <%= f.label :phone%>
            <div class="input-group">
            <%= f.text_field :phone, class: "form-control" %>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
          <%= f.label :cellphone%>
            <div class="input-group">
            <%= f.text_field :cellphone, class: "form-control" %>
            </div>
        </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :email%>
            <div class="input-group">
            <%= f.text_field :email, class: "form-control" %>
            </div>
        </div>
    </div>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class = "row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :email%>
            <div class="input-group">
            <%= f.text_field :email, class: "form-control" %>
            </div>
        </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :password %> <i>(Dejelo en blanco si no quiere cambiarlo)</i><br />
            <div class="input-group">
            <%= f.password_field :password, autocomplete: "off" %>
            </div>
        </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :password_confirmation %>
            <div class="input-group">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
        </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :current_password %><i>(Ingrese su password acual para guardar los cambios)</i><br />
            <div class="input-group">
            <%= f.password_field :current_password, autocomplete: "off" %>
            </div>
        </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Acualizar" %>
  </div>
<% end %>

<p><%= button_to "Volver",:back %></p>

  <hr>
  <%= render :partial => 'dashboard/footer' %>
</div>